<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myCard.css">
    <title>Gnaizel</title>
</head>
<body>
<div class="title-block">
    <header class="nick avatar">
        <a href="/">
            <h1 class="nick">Gnaizel</h1>
            <img src="/image/sdfgsdfljh.img" alt="avatar">
        </a>
    </header>
</div>

<div class="main">

    <section class="bio">
        <h2><span class="p-marks">//</span> Bio</h2>
        <ul>
            <li><span class="p-marks">-</span> location: Saratov/Russia</li>
            <li><span class="p-marks">-</span> local time: <span id="time"></span></li>
            <li><span class="p-marks">-</span> timezone: UTC+4</li>
            <li><span class="p-marks">-</span> age: 18</li>
        </ul>
    </section>

    <section class="social">
        <h2><span class="p-marks">//</span> Social</h2>
        <ul>
            <li>
                <div class="contact-box">
                    <img src="../static/image/github-svgrepo-com.svg" alt="icon">
                    <a href="#">github</a>
                </div>
            </li>
            <li>
                <div class="contact-box">
                    <img src="../static/image/steam-svgrepo-com.svg" alt="icon">
                    <a href="#">steam</a>
                </div>
            </li>
            <li>
                <div class="contact-box">
                    <img src="../static/image/telegram-svgrepo-com.svg" alt="icon">
                    <a href="#">telegram</a>
                </div>
            </li>
        </ul>
    </section>

    <section class="tech-stack">
        <h2><span class="p-marks">//</span> Skills</h2>
        <ul>
            <li><span class="p-marks">-</span> java</li>
            <li><span class="p-marks">-</span> spring boot</li>
            <li><span class="p-marks">-</span> docker</li>
            <li><span class="p-marks">-</span> postgresql</li>
            <li><span class="p-marks">-</span> git</li>
        </ul>
    </section>

    <section class="device">
        <h2><span class="p-marks">//</span> Device</h2>
        <table>
            <tr><td>laptop</td><td>info</td></tr>
            <tr><td>pc</td><td>info</td></tr>
            <tr><td>server</td><td>info</td></tr>
        </table>
    </section>

    <section class="game">
        <h2><span class="p-marks">//</span> Game</h2>
        <table>
            <tr><td>CS 2</td><td>info for hours</td></tr>
        </table>
    </section>

</div>

<script>
    function updateTime() {
        const now = new Date();
        document.getElementById('time').textContent =
            now.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });
    }
    setInterval(updateTime, 1000);
    updateTime();
</script>
</body>
</html>
