<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myCard.css">
    <title>Gnaizel</title>
</head>
<body>
    <div class="border title">
        <header class="nick nand avatar">
            <a href="/">
                <h1 class="nick">Gnaizel</h1>
                <img src="/image/sdfgsdfljh.img" alt="avatar">
            </a>
        </header>
    </div>
    <div class="border main">
        <div class="bio">
            <div class="title bio bid">
                <h2 class="title">
                    <span class="p-marks">//</span>
                    Bio
                </h2>
            </div>
            <ul>
                <li>
                    <span class="p-marks">-</span>
                    <p>location: </p>
                    <p>Saratov/Russia</p>
                </li>
                <li >
                    <span class="a-marks">-</span>
                    <p>local time: <span id="time" ></span></p>
                </li>
                <li>
                    <span class="p-marks">-</span>
                    <p>timezone: </p>
                    <p>UTC+4</p>
                </li>
                <li class="list item">
                    <span class="p-marks">-</span>
                    <p>age: </p>
                    <p>18</p>
                </li>
            </ul>
        </div>
        <div class="social">
            <div class="social title">
                <h2 class="title">
                    <span class="p-marks">//</span>
                    Social
                </h2>
                <ul>
                    <li>
                        <div class="contact-box"><a href="#">github</a></div>
                    </li>
                    <li>
                        <div class="contact-box"><a href="#">Steam</a></div>
                    </li>
                    <li>
                        <div class="contact-box"><a href="#">Telegram</a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tech-stack">
            <div class="tech-stack title">
                <h2 class="title">
                <span class="p-marks">//</span>
                    skills
                </h2>
                <lu>
                    <li>
                        <p>java</p>
                        <p>spring boot</p>
                        <p>docker</p>
                        <p>postgresql</p>
                        <p>git</p>
                    </li>
                </lu>
            </div>
        </div>
        <div class="device">
            <div class="device title">
                <h2 class="title">
                    <span class="p-marks">//</span>
                    device
                </h2>
            </div>
            <table>
                <tr><td>laptop</td><td>info</td></tr>
                <tr><td>pc</td><td>info</td></tr>
                <tr><td>server</td><td>info</td></tr>
            </table>
        </div>
        <div class="game">
            <div class="game title">
                <h2 class="title">
                    <span class="p-marks">//</span>
                    game
                </h2>
            </div>
            <table>
                <tr><td>Cs 2</td><td>info for hours</td></tr>
            </table>
        </div>
    </div>

</body>
</html>