<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myCard.css">
    <script src="/js/time.js"></script>
    <title>Gnaizel</title>
</head>
<body>
<div class="title-block">
    <header>
        <div class="profile">
            <img src="/image/photo_2025-08-24_16-06-35.jpg" alt="avatar">
            <div>
                <h1 class="nick"><span class="p-marks">@</span>Gnaizel</h1>
                <h2 class="tagline">Backend Developer</h2>
            </div>
        </div>
<!--        <div class="theme-toggle">☀️/🌙</div>-->
    </header>
</div>

<div class="main">

    <section class="bio">
        <h2><span class="p-marks">//</span> Bio</h2>
        <ul class="list">
            <li><span class="p-marks">-</span> location: Saratov/Russia</li>
            <li><span class="p-marks">-</span> local time: <span id="time"></span></li>
            <li><span class="p-marks">-</span> timezone: UTC+4</li>
            <li><span class="p-marks">-</span> age: <span id="old"></span></li>
        </ul>
    </section>

    <section class="social">
        <h2><span class="p-marks">//</span> Social</h2>
        <ul class="list">
            <li>
                <div class="contact-box">
                    <img src="/image/github-svgrepo-com.svg" alt="icon">
                    <a href="https://github.com/Gnaizel">github</a>
                </div>
            </li>
            <li>
                <div class="contact-box">
                    <img src="/image/steam-svgrepo-com.svg" alt="icon">
                    <a href="https://steamcommunity.com/id/Gnaisel/">steam</a>
                </div>
            </li>
            <li>
                <div class="contact-box">
                    <img src="/image/telegram-svgrepo-com.svg" alt="icon">
                    <a href="https://telegram.me/gnaizel">telegram</a>
                </div>
            </li>
        </ul>
    </section>

    <section class="tech-stack">
        <h2><span class="p-marks">//</span> Skills</h2>
        <div class="skills-list">
            <span class="skill-chip">Java</span>
            <span class="skill-chip">Spring Boot</span>
            <span class="skill-chip">Docker</span>
            <span class="skill-chip">PostgreSQL</span>
            <span class="skill-chip">Git</span>
        </div>
    </section>

    <section class="device">
        <h2><span class="p-marks">//</span> Device</h2>
        <div class="device-card">
            <div class="device-header">💻 laptop</div>
            <ul class="device-specs">
                <li>intel(R) UHD Graphics</li>
                <li>8G RAM</li>
                <li>i5-12450H</li>
                <li>500G DIS</li>
            </ul>
        </div>
        <div class="device-card">
            <div class="device-header">🖥️ pc</div>
            <ul class="device-specs">
                <li>GeForce GTX 1660 SUPER</li>
                <li>16G RAM</li>
                <li>i7-11700K</li>
                <li>3TB DISK</li>
            </ul>
        </div>
        <div class="device-card">
            <div class="device-header">🗄️ server</div>
            <ul class="device-spece">
                <li>16G RAM</li>
                <li>Intel i5-9400F</li>
                <li>1.8TB DISK</li>
            </ul>
        </div>
    </section>
    <footer>
        <div id="quote">// Ага</div>
    </footer>

<!--    <section class="game">-->
<!--        <h2><span class="p-marks">//</span> Game</h2>-->
<!--        <table>-->
<!--            <tr><td>CS 2</td><td>info for hours</td></tr>-->
<!--        </table>-->
<!--    </section> в процессе-->

</div>
</body>
</html>
